.footer
    &__menu
        background-color: $dark
        padding: 3.35rem 0
    &__input
        padding: 0
    &__wrap
        background-color: $black
        max-width: 63.07rem
        margin: auto
        padding: 2.5rem 12.857rem
        margin-top: -20.12rem
        margin-bottom: 3.714rem
    &__title
        text-transform: uppercase
        font-family: 'Yeseva One', cursive
        font-style: normal
        font-weight: normal
        font-size: 1.428rem
        text-align: center
        margin-bottom: 3.37rem
        margin-top: 0px
    &__form
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        max-width: 37.142rem
        margin: auto
    &__input-group
        background-color: $black
        display: flex
        flex-direction: column
        flex-basis: 44.4%
        margin-bottom: 3.8rem
        &--full-width
            flex-basis: 100%
    &__policy
        flex-basis: 100%
        margin-bottom: 3.57rem
        margin-top: -1.27rem
    &__button
        text-transform: uppercase
        margin: auto
        padding: 0.9rem 4.4rem
        border: none
        border-radius: 0
        font-weight: 500
        font-style: normal
        font-size: 1.071rem
        line-height: 1.88rem
        text-align: center
    &__label
        font-size: 1.071rem
        font-weight: 400
        font-style: normal
        line-height: 1.428rem
.section--dark
    padding-top: 4.3rem
    background: $dark url('/img/footer-bg.jpg') no-repeat center / cover