.container
    width: 85%
    max-width: 1256px
    margin: auto
.row
    display: flex
    align-items: flex-start
    justify-content: space-between
.col
    display: flex
    justify-content: space-between
    align-items: center
    flex-basis: 
    &__50
        width: 50%
        animation-name: fadeInLeft
        animation-duration: 1s
        &--pic
            animation-name: fadeInRight
            animation-duration: 1s
    &__30
        flex-basis: 30%
    &__client
        width: 26.857rem
        height: 30.571rem
        margin-left: 0.714rem
        margin-right: 0.714rem
        margin-top: 1.428rem
    &__member
        margin-top: 4rem
        &--first
            margin-left: 8.075rem
        &--third
            margin-right: 8.075rem
