.container
    width: 85%
    max-width: 1256px
    margin: auto
.row
    display: flex
    align-items: flex-start
    justify-content: space-between
.col
    display: flex
    justify-content: space-between
    align-items: center
    flex-basis: fill
    &__50
        width: 50%
    &__30
        flex-basis: 30%