.types
    &__section-title
        margin-bottom: 2.2rem
.card
    &__text
        position: relative
        max-width: 23.7rem
        margin: 0 auto
        margin-top: -9.4rem
        padding: 1.78rem 2.42rem
        background-color: #fff
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
    &__title
        margin-top: 0
        margin-bottom: 0.7rem
        font-family: 'Yeseva One', cursive
        font-size: 1.28rem;
    &__list
        padding: 0 0 0 1.3rem
        margin: 0
        font-size: 1.07rem
        line-height: 1.8rem
        color: $secondary
        margin-bottom: 2.5rem
    &__pricetag
        position: absolute
        left: 0
        bottom: -1.7rem
        font-size: 1.29rem
        font-family: 'Yeseva One', cursive
        text-transform: uppercase
        color: $light
        background-color: $primary
        padding: 1.214rem 4.285rem
        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    &__first
        padding: 1.214rem 2.9rem
    &__second
        padding: 1.214rem 2.7rem
    &__third
        padding: 1.214rem 2.5rem

